<!Doctype html/>

<html lang="pt-br">
	<head>
		<title>EduMatch - Cursos</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" th:href="@{/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
	</head>
	<body>
		<div class="conteiner-principal">
			<div class="logomarca">
				<img alt="logo Edu Match" th:src="@{/imagens/livro.png}"/>
				<h1 class="corUm">Edu</h1>
				<h1 class="corDois">Match</h1>
			</div>
			<div class="titulo-mentorado">
				<h1>Cursos Disponíves: </h1>
			</div>
			<div class="curso-inteligencia">
				<h2>Inteligência Emocional</h2>
				<img alt="Inteligência emocional" th:src="@{/imagens/inteligenciaemocional.png}"/>
				<a><strong>Iniciar</strong></a>
			</div>
			
		</div>	
	</body>
</html>