<!Doctype html/>

<html lang="pt-br">
	<head>
		<title>EduMatch - Cadastrar</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" th:href="@{/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/base.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
	</head>
	<body>
		<div class="conteiner-principal">
			<div class="logomarca">
				<img alt="logo Edu Match" th:src="@{/imagens/livro.png}"/>
				<h1 class="corUm">Edu</h1>
				<h1 class="corDois">Match</h1>
			</div>
			<form class="painel-cadastro">
				<p>Login (E-mail): </p>
				<input type="email" name="login" />
				<p>Senha: </p>
				<input type="password" name="senha" />
				<a th:href="@{/mentoradoLogado}"> <button type="button" name="enviar">Entrar</button> </a>		
			</form>
		</div>	
	</body>
</html>